* {
    box-sizing: border-box;
}

body, #root, .App {
    width: 100%;
    height: 100vh;
}

.navigation {
    width: 100%;
    height: 5%;
    background-color: #3a3837;
    color: azure;
    position: relative;
}

.navigation__title {
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.navigation__hamburger {
    font-size: 2em;
    display: block;
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: 2;
    transition: left, 0.7s;
}

.navigation__sidebar {
    width: 20%;
    height: 100vh;
    background: rgb(231,231,231);
    background: linear-gradient(150deg, rgba(231,231,231,1) 21%, rgba(241,239,239,1) 21%);
    transition: left, 0.7s;
    position: absolute;
    left: -21%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    box-shadow: 10px 0px 5px -2px rgba(0,0,0,0.58);
}

.navigation__sidebar-open .navigation__sidebar {
    left: 0%;
    transition: left, 0.7s;
}

.navigation__sidebar-open .navigation__hamburger {
    left: 23%;
    transition: left, 0.7s;
}

.sidebar__profile-photo {
    width: 60%;
    margin-top: 30px;
}

.sidebar__username {
    margin-top: 50px;
}

.game-container {
    width: 100%;
    height: 85%;
    background: rgb(241,239,239);
    background: radial-gradient(circle, rgba(241,239,239,1) 45%, rgba(186,186,186,1) 100%);
}

.gc-lose {
    background: rgb(241,239,239);
    background: radial-gradient(circle, rgba(241,239,239,1) 45%, rgb(186, 59, 60) 100%);
}

.gc-win {
    background: rgb(241,239,239);
    background: radial-gradient(circle, rgba(241,239,239,1) 45%, rgb(31, 116, 39) 100%);
}

.game-container__dojo {
    width: 60%;
    height: 100%;
    background-color: #F1F3EC;
    display: block;
    margin: 0 auto;
    overflow: auto;
}

.game-container-dojo__scoreboard {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px inset white;
    font-weight: 800;
    font-size: 2em;
}

.scoreboard__timer {
    color: brown;
}

.scoreboard__current-score {

}

.game-container-dojo__cards-container {
    position: relative;
    width: 100%;
    height: 90%;
    padding: 10px;
    /*border: 1px solid red;*/
}

.cards-container__card {
    width: 50%;
    height: 100%;
    padding-top: 20px;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
}

.cards-container__card:hover {
    background-color: beige;
}

.card__poster {
    width: 50%;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 75px -13px rgba(0,0,0,0.77);
}

.card__title {
    font-size: 2em;
    margin-top: 40px;
}

.card__result {
    visibility: visible;
    font-size: 1.5em;
    margin-top: 70px;
    font-weight: 800;
    animation: grow-shrink 1s infinite ease-in-out alternate-reverse;
}

.hidden .card__result {
    visibility: hidden;
}

.visible .card__result {
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    visibility: visible;
}

@keyframes grow-shrink {
    0% {font-size: 1.5em;}
    10% {font-size: 1.5em;}
    20% {font-size: 1.6em;}
    30% {font-size: 1.65em;}
    40% {font-size: 1.7em;}
    50% {font-size: 1.75em;}
    60% {font-size: 1.8em;}
    70% {font-size: 1.85em;}
    80% {font-size: 1.9em;}
    90% {font-size: 1.95em;}
    100% {font-size: 2em;}
    }

.footer {
    width: 100%;
    height: 10%;
    background-color: #3a3837;
    border-top: 1px inset white;
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > div {
   margin: 5px;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-8 22:11:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-8 22:31:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-diag-2-br
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-diag-2-br {
    0% {
        -webkit-transform: rotate3d(-1, 1, 0, -80deg);
        transform: rotate3d(-1, 1, 0, -80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
        opacity: 1;
    }
}
@keyframes flip-in-diag-2-br {
    0% {
        -webkit-transform: rotate3d(-1, 1, 0, -80deg);
        transform: rotate3d(-1, 1, 0, -80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
        opacity: 1;
    }
}



.flip-in-diag-2-br {
    -webkit-animation: flip-in-diag-2-br 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-diag-2-br 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}